<div class="container-fluid">

   <div class="row">
     <div class="col-8">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              Workflow component
            </div>
          </div>
          <div class="row">
              <div class="col-6">
                Renewal list
              </div>
              <div class="col-6">
                  Submission list
                </div>
            </div>
            <div class="col-12">
                Enterpise search
              </div>
      </div>
     </div>
     <div class="col-4">
      Risk Preview
     </div>
   </div>

</div>
